body {
    margin: 0;
    background-color: #1BB8D3;
}

header {
    align-content: center;
}

.header{
    width: 100%;
    background-color: #3F50B0;
}

.logo{
    width:100%
}

nav {
    padding-bottom: 1%;
    padding-top: 1%;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    background-color: #A8F06A;
}

a {
    text-shadow: 1px 1px black;
    color: #1BB8D3;
    text-decoration: none;
}

a:hover {
    font-size: larger;
    color: #3F50B0;
    text-shadow: 1px 1px black;
}


.the_H1{
    color: white;
}

h1 {
    margin-top: 2%;
    text-align: center;
    width: 100%;
    color: black;
}

h3 {
    width: 60%;
    text-align: left;
}

.other-H3 {
    width: 70%;
}

div {
    margin-left: 15%;
    margin-right: 0;
    padding-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    width: 70%;
    background-color: #A8F06A;
    border: #3F50B0 solid;
}

.startpagina {
    padding-top: 0;
}

IMG {
    width: 35%;
    height: 35%;
}

.AR-gedeelte {
    width: 60%;
    height: 60%;
}

.speurtocht-img {
    width: 90%;
    height: 90%;
}



